body {
    font-family: Roboto;
    background-color: rgb(147, 144, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.h1 {
    font-size: 3px;
}

.fix {
    /*background-color: rgb(251, 248, 247);*/
    width: 500px;
    color: #23211c;
    padding: 40px;
    font-size: 50px;
    /*box-shadow: 20px 20px #d1cbbf;*/
    text-align: center;
}

.fix input {
    display: block;
    margin: 20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
    color: rgb(9, 9, 9);
}

.fix input[type="text"] {
    border: 4px solid #FFA500;
    width: 220px;
}

.fix input[type="submit"] {
    background: #5a4a2e;
    width: 150px;
    border: 2px solid #ebc281;
    cursor: pointer;

}

.fix input[type="text"]:focus {
    border-color: #FFA500;
    width: 280px;
    transition: 0.5s;
}

.fix input[type="button"] {
    background: #e8c669;
    width: 300px;
    border: 2px solid #fdd59a;
    cursor: pointer;
}